.containerNav{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(226, 226, 226);
    padding: 10px ; /* Espaciado interno en la barra */
    max-height: 50px;
    margin: 0 auto;
    margin-top: 20px; 
    width: 80%;
    border-radius: 20px;
    align-items: center;
    font-weight: bold;
    
}

.controls{
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
    color: #725ac1;
    font-weight: bold;

}

.controlsAdd{
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
    color: #725ac1;
    font-weight: bold;

}
.controlsInput{
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.37);
    border: none;
    color: #725ac1;
    font-weight: bold;

}
.controlsInput:focus{
    outline: none
}
.controls:hover{
    background-color: #875ac138;
}

.logout
    {
        margin: 5px;
        padding: 10px;
        text-align: center;
        font-size: 17px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #725ac1;
        background: transparent;
        cursor: pointer;
        transition: ease-out 0.5s;
        border: 2px solid #725ac1;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #725ac1;
      }
      
      .logout:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #725ac1;
      }
      
      .logout:active {
        transform: scale(0.9);
      }
